body {
    margin: 0;
}

canvas {
    display: block;
    margin-left: 300px;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222222;
}

h1 {
    margin-left: 20px;
    font-family: 'Arial';
    color: white;
    font-size: 28px;
}

h2 {
    margin-left: 16px;
    font-family: 'Arial';
    color: lightgrey;
    font-size: 22px;
}

h3 {
    margin-left: 10px;
    font-family: 'Arial';
    color: #cccccc;
}